@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'chilax';
    src: url('../fonts/Chillax-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
    font-family: 'chilax', sans-serif;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/* .glow-shift-anim {
    box-sizing: content-box;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    z-index: -1;
    background-image: conic-gradient(from var(--angle), transparent 50%, #F97563);
    padding: 7px;
    border-radius: 1rem;
    translate: -50% -50%;
    opacity: 0;
} */

/* .glow-edge {
    border: solid #F97563 3px;
}


.glow-edge:hover {
    border: solid transparent 3px;

    .glow-shift-anim {
        opacity: 1;
        animation: 1.5s glowing linear infinite;
    }
} */

/* @keyframes glowing {
    0% {
        --angle: 0deg
    }

    100% {
        --angle: 360deg
    }
} */

/* .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkle 2s infinite ease-in-out;
}

@keyframes twinkle {

    0%,
    100% {
        opacity: 0.8;
        transform: scale(1);
    }

    50% {
        opacity: 0.3;
        transform: scale(1.5);
    }
} */

/* Random positions */
/* .star:nth-child(1) {
    top: 5%;
    left: 10%;
    animation-delay: 0s;
}

.star:nth-child(2) {
    top: 20%;
    left: 50%;
    animation-delay: 1s;
}

.star:nth-child(3) {
    top: 30%;
    left: 70%;
    animation-delay: 0.5s;
}

.star:nth-child(4) {
    top: 80%;
    left: 25%;
    animation-delay: 1.5s;
}

.star:nth-child(5) {
    top: 65%;
    left: 85%;
    animation-delay: 2s;
}

.star:nth-child(6) {
    top: 40%;
    left: 40%;
    animation-delay: 1s;
}

.star:nth-child(7) {
    top: 10%;
    left: 90%;
    animation-delay: 0.2s;
}

.star:nth-child(8) {
    top: 75%;
    left: 60%;
    animation-delay: 1.2s;
}

.star:nth-child(9) {
    top: 55%;
    left: 30%;
    animation-delay: 0.6s;
}

.star:nth-child(10) {
    top: 50%;
    left: 10%;
    animation-delay: 0.8s;
} */




/* Carousel */

.flowing-text {
    display: inline-flex;
    /* use inline-flex instead of block or flex */
    min-width: 100%;
    animation: flow 20s linear infinite;
    white-space: nowrap;
    /* prevents wrapping to a new line */
    /* gap: 4rem; */
    /* optional: space between items */
    align-items: center;
}

@keyframes flow {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

